/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: #1D1D1D;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
  box-sizing: border-box;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: #024E82;
}

input:focus-visible {
  outline: none;
}

nav {
  padding: 0;
}

#header {
  width: 100%;
  display: flex;
  justify-content: unset;
  align-items: unset;
  padding: 22px 0;
}

#header .header__logo {
  flex: 1;
}

#header .header__logo a {
  font-size: 36px;
}

#header .header__logo a:hover {
  color: #1D1D1D;
}

#header .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 4;
}

@media screen and (max-width: 992px) {
  #header .navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

#header .navigation__lists {
  display: flex;
  justify-content: unset;
  align-items: unset;
}

@media screen and (max-width: 992px) {
  #header .navigation__lists {
    display: none;
  }
}

#header .navigation__lists li {
  margin-right: 8px;
}

#header .navigation__lists li:last-child {
  margin-right: 0;
}

#header .navigation__lists li a {
  padding: 4px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 14px;
}

#header .navigation__icons {
  display: flex;
  justify-content: unset;
  align-items: center;
}

#header .navigation__icons li {
  margin-right: 28px;
}

@media screen and (max-width: 992px) {
  #header .navigation__icons li {
    display: none;
  }
}

#header .navigation__icons li:last-child {
  margin-right: 0;
  display: none;
}

@media screen and (max-width: 992px) {
  #header .navigation__icons li:last-child {
    display: block;
  }
}

#footer {
  padding: 48px 0 0 0;
  background-color: #FBFBFB;
}

#footer h4 {
  font-size: 12px;
  text-transform: uppercase;
}

#footer .footer__lists {
  margin-top: 30px;
}

#footer .footer__lists li {
  margin-bottom: 12px;
}

#footer .footer__lists li:last-child {
  margin: 0;
}

#footer .footer__lists li a {
  font-size: 16px;
}

#footer form {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: unset;
  align-items: unset;
}

#footer form input {
  font-size: 16px;
  background-color: transparent;
  border: none;
  padding: 17px 0;
  border-bottom: 1px solid #1D1D1D;
  flex: 1;
}

#footer form button {
  background-color: transparent;
  border: none;
}

#footer .footer-privacy {
  border-top: 1px solid #E8E8E8;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: unset;
  margin-top: 96px;
}

#footer .footer-privacy__policy p {
  margin-bottom: 10px;
  font-size: 14px;
}

#footer .footer-privacy__policy p:last-child {
  margin: 0;
}

#footer .footer-privacy__payment-methods img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  margin-right: 16px;
}

#footer .footer-privacy__payment-methods img:last-child {
  margin: 0;
}

.product-container {
  display: flex;
  justify-content: unset;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.product-container a {
  margin-top: 16px;
  font-size: 16px;
}

.product-container span {
  font-size: 16px;
  margin-top: 6px;
}

.buybanner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #000;
}

.buybanner-container.p-150 {
  padding: 120px 150px;
}

.buybanner-container.p-50 {
  padding: 120px 50px;
}

.buybanner-container h3 {
  margin-bottom: 24px;
  font-size: 32px;
  color: #fff;
  text-transform: uppercase;
}

.buybanner-container p {
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  text-align: center;
}

.buybanner-container a {
  color: #1D1D1D;
  padding: 14px 36px;
  background-color: #fff;
  text-transform: uppercase;
}

.benefit {
  display: flex;
  justify-content: unset;
  align-items: unset;
}

.benefit__icons {
  margin-right: 22px;
}

.benefit__content h5 {
  font-size: 16px;
  text-transform: uppercase;
}

.benefit__content p {
  margin-top: 8px;
}

.page-banner {
  padding: 230px 0 70px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.page-banner h3 {
  font-size: 48px;
  color: #fff;
  text-transform: uppercase;
}

.founder {
  display: flex;
  flex-direction: column;
}

.founder a {
  display: inline-block;
  margin-top: 32px;
  font-size: 21px;
}

.testimonial {
  display: flex;
  justify-content: unset;
  align-items: center;
  padding: 0 200px;
  margin-bottom: 240px;
}

.testimonial:last-child {
  margin-bottom: 0;
}

.testimonial__username {
  font-size: 21px;
}

.testimonial p {
  font-size: 24px;
  line-height: 36px;
  margin: 24px 0 32px 0;
}

.about-buybanner {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about-buybanner a {
  font-size: 24px;
  background-color: #fff;
  text-transform: uppercase;
  color: #14517B;
  padding: 14px 36px;
  border-radius: 26px;
  margin-bottom: 36px;
}

.expand-navigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.expand-navigation li {
  text-transform: uppercase;
}

.expand-navigation li:first-child {
  display: flex;
  color: #888888;
}

.expand-navigation li:first-child::after {
  content: "/";
  display: block;
  margin: 0 3px;
}

.expand-navigation li:first-child a {
  color: #888888;
}

.home-banner-section {
  width: 100%;
}

.home-banner-section__container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0 236px 0;
}

.home-banner-section__inside-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-banner-section__inside-container h2 {
  color: #fff;
  font-weight: 800;
  font-size: 48px;
  text-transform: uppercase;
  margin-bottom: 48px;
  text-align: center;
}

.home-banner-section__inside-container a {
  color: #fff;
  text-transform: uppercase;
  font-size: 21px;
  padding: 18px 22px 18px 36px;
  border: 5px solid #fff;
}

.benefit-section {
  padding: 20px 0 70px 0;
}

.products-section {
  padding: 42px 0;
}

.products-section h3 {
  text-align: center;
  font-size: 36px;
}

.products-section p {
  font-size: 20px;
  text-align: center;
  margin: 16px 0 48px 0;
}

.buybanner-section {
  margin: 40px 0;
}

.topsellers-section {
  padding: 42px 0 110px 0;
}

.topsellers-section h3 {
  text-align: center;
  font-size: 36px;
}

.topsellers-section p {
  text-align: center;
  font-size: 20px;
  margin: 16px 0 48px 0;
}

.topsellers-section__shop-now {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  background-color: #024e82;
  color: white;
  padding: 18px 0;
  text-transform: uppercase;
}

.topsellers-section__shop-now:hover {
  color: #fff;
}

.founders-section {
  padding: 110px 0 140px 0;
  background-color: #FBFBFB;
}

.founders-section__header h3 {
  font-size: 36px;
  margin-bottom: 115px;
  text-align: center;
}

.testimonials-section {
  padding: 85px 0 110px 0;
}

.testimonials-section__header h3 {
  font-size: 36px;
  margin-bottom: 115px;
  text-align: center;
}

.about-buybanner-section {
  padding-top: 90px;
}

.expand-navigation-section {
  padding: 35px 0 40px 0;
}

.cart-products-section {
  padding: 40px 0 50px 0;
}

.cart-products-section table .remove-button {
  background-color: transparent;
  border: none;
}

.cart-products-section table .product-name {
  color: #555555;
}

.cart-products-section table .product-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-products-section table .product-price {
  color: #555555;
}

.cart-products-section table .product-quantity-input {
  border: 2px solid #ebebeb;
  text-align: center;
  width: 52px;
  height: 42px;
}

.cart-products-section table thead th {
  padding: 20px 0;
}

.cart-products-section table tbody tr {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  padding: 10px 0;
}

.cart-products-section table tbody tr td {
  padding: 30px 0;
}

.cart-totals-section {
  padding: 40px 0 120px 0;
}

.cart-totals-section h4 {
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 24px;
}

.cart-totals-section ul {
  margin-bottom: 40px;
}

.cart-totals-section ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  padding: 18px 0;
}

.cart-totals-section ul li:last-child {
  border: none;
}

.cart-totals-section a {
  padding: 18px 36px;
  background-color: #d6763c;
  color: #fff;
  text-transform: uppercase;
}

.contact-form-section {
  padding: 150px 0 110px 0;
}

.contact-form-section h4 {
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 32px;
}

.contact-form-section h5 {
  font-size: 24px;
  line-height: 48px;
  margin-bottom: 16px;
}

.contact-form-section .visit-us {
  margin-bottom: 48px;
}

.contact-form-section .get-in-touch ul {
  padding: 0 100px 0 0;
}

.contact-form-section .get-in-touch ul li:first-child {
  margin-bottom: 24px;
}

.contact-form-section form {
  padding-right: 50px;
}

.contact-form-section form .form-top {
  display: flex;
  margin-top: 48px;
}

.contact-form-section form .form-top .form-email {
  display: flex;
  flex-direction: column;
}

.contact-form-section form .form-top .form-name {
  display: flex;
  flex-direction: column;
}

.contact-form-section form .form-top input {
  padding: 16px 8px;
  font-size: 18px;
  border: 1px solid #EBEBEB;
}

.contact-form-section form .form-message {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.contact-form-section form .form-message textarea {
  font-size: 18px;
  resize: none;
  border: 1px solid #EBEBEB;
  padding: 8px;
}

.contact-form-section form .form-message textarea:focus-visible {
  outline: none;
}

.contact-form-section form label {
  margin-bottom: 12px;
}

.expand-navigation-section {
  padding: 35px 0 40px 0;
}
/*# sourceMappingURL=main.css.map */