/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: #1D1D1D;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
  box-sizing: border-box;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: #024E82;
}

input:focus-visible {
  outline: none;
}

nav {
  padding: 0;
}

#header {
  width: 100%;
  display: flex;
  justify-content: unset;
  align-items: unset;
  padding: 22px 0;
}

#header .header__logo {
  flex: 1;
}

#header .header__logo a {
  font-size: 36px;
}

#header .header__logo a:hover {
  color: #1D1D1D;
}

#header .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 4;
}

@media screen and (max-width: 992px) {
  #header .navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

#header .navigation__lists {
  display: flex;
  justify-content: unset;
  align-items: unset;
}

@media screen and (max-width: 992px) {
  #header .navigation__lists {
    display: none;
  }
}

#header .navigation__lists li {
  margin-right: 8px;
}

#header .navigation__lists li:last-child {
  margin-right: 0;
}

#header .navigation__lists li a {
  padding: 4px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 14px;
}

#header .navigation__icons {
  display: flex;
  justify-content: unset;
  align-items: center;
}

#header .navigation__icons-item {
  margin-right: 28px;
}

@media screen and (max-width: 992px) {
  #header .navigation__icons-item {
    display: none;
  }
}

#header .navigation__icons-item:last-child {
  margin-right: 0;
  display: none;
}

#header .navigation__icons-item:last-child button {
  border: none;
  background-color: transparent;
}

@media screen and (max-width: 992px) {
  #header .navigation__icons-item:last-child {
    display: block;
  }
}

#footer {
  padding: 48px 0 0 0;
  background-color: #FBFBFB;
}

#footer h4 {
  font-size: 12px;
  text-transform: uppercase;
}

@media screen and (max-width: 992px) {
  #footer h4 {
    margin-top: 24px;
  }
}

@media screen and (max-width: 768px) {
  #footer h4 {
    text-align: center;
  }
}

#footer .footer__lists {
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  #footer .footer__lists {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

#footer .footer__lists li {
  margin-bottom: 12px;
}

#footer .footer__lists li:last-child {
  margin: 0;
}

#footer .footer__lists li a {
  font-size: 16px;
}

#footer form {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: unset;
  align-items: unset;
}

@media screen and (max-width: 768px) {
  #footer form {
    justify-content: center;
  }
}

#footer form input {
  font-size: 16px;
  background-color: transparent;
  border: none;
  padding: 17px 0;
  border-bottom: 1px solid #1D1D1D;
  flex: 1;
}

@media screen and (max-width: 768px) {
  #footer form input {
    flex: 0;
  }
}

#footer form button {
  background-color: transparent;
  border: none;
}

#footer .footer-privacy {
  border-top: 1px solid #E8E8E8;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: unset;
  flex-wrap: wrap;
  margin-top: 96px;
}

@media screen and (max-width: 531px) {
  #footer .footer-privacy {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

#footer .footer-privacy__policy p {
  margin-bottom: 10px;
  font-size: 14px;
}

#footer .footer-privacy__policy p:last-child {
  margin: 0;
}

#footer .footer-privacy__payment-methods img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  margin-right: 16px;
}

#footer .footer-privacy__payment-methods img:last-child {
  margin: 0;
}

@media screen and (max-width: 531px) {
  #footer .footer-privacy__payment-methods {
    margin-top: 24px;
  }
}

.product-container {
  display: flex;
  justify-content: unset;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.product-container a {
  margin-top: 16px;
  font-size: 16px;
}

.product-container span {
  font-size: 16px;
  margin-top: 6px;
}

.buybanner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #000;
}

@media screen and (max-width: 992px) {
  .buybanner-container {
    margin-bottom: 24px;
  }
}

.buybanner-container.p-150 {
  padding: 120px 150px;
}

@media screen and (max-width: 1400px) {
  .buybanner-container.p-150 {
    padding: 120px 100px;
  }
}

@media screen and (max-width: 1200px) {
  .buybanner-container.p-150 {
    padding: 120px 50px;
  }
}

.buybanner-container.p-50 {
  padding: 120px 50px;
}

.buybanner-container h3 {
  margin-bottom: 24px;
  font-size: 32px;
  color: #fff;
  text-transform: uppercase;
}

@media screen and (max-width: 1200px) {
  .buybanner-container h3 {
    font-size: 28px;
  }
}

@media screen and (max-width: 450px) {
  .buybanner-container h3 {
    font-size: 20px;
  }
}

.buybanner-container p {
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  text-align: center;
}

.buybanner-container a {
  color: #1D1D1D;
  padding: 14px 36px;
  background-color: #fff;
  text-transform: uppercase;
}

.benefit {
  display: flex;
  justify-content: unset;
  align-items: unset;
}

@media screen and (max-width: 992px) {
  .benefit {
    margin-bottom: 24px;
  }
  .benefit:last-child {
    margin-bottom: 0;
  }
}

.benefit__icons {
  margin-right: 22px;
}

.benefit__content h5 {
  font-size: 16px;
  text-transform: uppercase;
}

.benefit__content p {
  margin-top: 8px;
}

.page-banner {
  padding: 230px 0 70px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.page-banner h3 {
  font-size: 48px;
  color: #fff;
  text-transform: uppercase;
}

.founder {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 992px) {
  .founder {
    align-items: center;
    margin-bottom: 24px;
  }
}

.founder a {
  display: inline-block;
  margin-top: 32px;
  font-size: 21px;
}

.testimonial {
  display: flex;
  justify-content: unset;
  align-items: center;
  padding: 0 200px;
  margin-bottom: 240px;
}

@media screen and (max-width: 1200px) {
  .testimonial {
    padding: 0;
  }
}

@media screen and (max-width: 800px) {
  .testimonial {
    flex-direction: column;
    margin-bottom: 120px;
  }
}

.testimonial:last-child {
  margin-bottom: 0;
}

.testimonial__username {
  font-size: 21px;
}

@media screen and (max-width: 992px) {
  .testimonial__username {
    font-size: 18px;
  }
}

@media screen and (max-width: 800px) {
  .testimonial__username {
    display: block;
    text-align: center;
  }
}

.testimonial p {
  font-size: 24px;
  line-height: 36px;
  margin: 24px 0 32px 0;
}

@media screen and (max-width: 992px) {
  .testimonial p {
    font-size: 18px;
  }
}

@media screen and (max-width: 800px) {
  .testimonial p {
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  .testimonial__picture img {
    margin-right: 0 !important;
  }
}

@media screen and (max-width: 800px) {
  .testimonial__text svg {
    display: none;
  }
}

.about-buybanner {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 992px) {
  .about-buybanner {
    margin-bottom: 24px;
  }
}

.about-buybanner a {
  font-size: 24px;
  background-color: #fff;
  text-transform: uppercase;
  color: #14517B;
  padding: 14px 36px;
  border-radius: 26px;
  margin-bottom: 36px;
}

.expand-navigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.expand-navigation li {
  text-transform: uppercase;
}

.expand-navigation li:first-child {
  display: flex;
  color: #888888;
}

.expand-navigation li:first-child::after {
  content: "/";
  display: block;
  margin: 0 3px;
}

.expand-navigation li:first-child a {
  color: #888888;
}

.burger-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100vh;
  width: 60vw;
  background-color: #fff;
  top: 0;
  left: -60vw;
  transition: 0.3s all ease-in;
  opacity: 0.3;
  visibility: hidden;
  z-index: 50;
  padding: 22px;
}

.burger-menu.active {
  position: fixed;
  transition: 0.3s all ease-out;
  left: 0;
  opacity: 1;
  visibility: visible;
}

.burger-menu__logo {
  width: 100%;
}

.burger-menu__logo a {
  font-size: 36px;
}

.burger-menu ul {
  display: flex;
  justify-content: center;
  align-items: unset;
  flex-direction: column;
  flex: 4;
  margin-top: 22px;
  border-top: 1px solid #E8E8E8;
}

.burger-menu ul li {
  margin: 10px 0;
}

.burger-menu ul li a {
  font-size: 32px;
  padding-bottom: 6px;
  border-bottom: 1px solid #E8E8E8;
}

.home-banner-section {
  width: 100%;
}

.home-banner-section__container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0 236px 0;
}

.home-banner-section__inside-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-banner-section__inside-container h2 {
  color: #fff;
  font-weight: 800;
  font-size: 48px;
  text-transform: uppercase;
  margin-bottom: 48px;
  text-align: center;
}

.home-banner-section__inside-container a {
  color: #fff;
  text-transform: uppercase;
  font-size: 21px;
  padding: 18px 22px 18px 36px;
  border: 5px solid #fff;
}

.benefit-section {
  padding: 20px 0 70px 0;
}

.products-section {
  padding: 42px 0;
}

.products-section h3 {
  text-align: center;
  font-size: 36px;
}

.products-section p {
  font-size: 20px;
  text-align: center;
  margin: 16px 0 48px 0;
}

.buybanner-section {
  margin: 40px 0;
}

.topsellers-section {
  padding: 42px 0 110px 0;
}

.topsellers-section h3 {
  text-align: center;
  font-size: 36px;
}

.topsellers-section p {
  text-align: center;
  font-size: 20px;
  margin: 16px 0 48px 0;
}

.topsellers-section__shop-now {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  background-color: #024e82;
  color: white;
  padding: 18px 0;
  text-transform: uppercase;
}

.topsellers-section__shop-now:hover {
  color: #fff;
}

.founders-section {
  padding: 110px 0 140px 0;
  background-color: #FBFBFB;
}

.founders-section__header h3 {
  font-size: 36px;
  margin-bottom: 115px;
  text-align: center;
}

.testimonials-section {
  padding: 85px 0 110px 0;
}

.testimonials-section__header h3 {
  font-size: 36px;
  margin-bottom: 115px;
  text-align: center;
}

.about-buybanner-section {
  padding-top: 90px;
}

.expand-navigation-section {
  padding: 35px 0 40px 0;
}

.cart-products-section {
  padding: 40px 0 50px 0;
}

.cart-products-section table .remove-button {
  background-color: transparent;
  border: none;
}

.cart-products-section table .product-name {
  color: #555555;
}

.cart-products-section table .product-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 992px) {
  .cart-products-section table .product-image {
    display: none;
  }
}

.cart-products-section table .product-price {
  color: #555555;
}

@media screen and (max-width: 460px) {
  .cart-products-section table .product-price {
    display: none;
  }
}

.cart-products-section table .product-quantity-input {
  border: 2px solid #ebebeb;
  text-align: center;
  width: 52px;
  height: 42px;
}

.cart-products-section table thead th {
  padding: 20px 0;
}

@media screen and (max-width: 992px) {
  .cart-products-section table thead th:nth-child(2) {
    display: none;
  }
}

@media screen and (max-width: 460px) {
  .cart-products-section table thead th:last-child {
    display: none;
  }
}

.cart-products-section table tbody tr {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  padding: 10px 0;
}

.cart-products-section table tbody tr td {
  padding: 30px 0;
}

.cart-totals-section {
  padding: 40px 0 120px 0;
}

.cart-totals-section h4 {
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 24px;
}

.cart-totals-section ul {
  margin-bottom: 40px;
}

.cart-totals-section ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  padding: 18px 0;
}

.cart-totals-section ul li:last-child {
  border: none;
}

.cart-totals-section a {
  padding: 18px 36px;
  background-color: #d6763c;
  color: #fff;
  text-transform: uppercase;
}

.contact-form-section {
  padding: 150px 0 110px 0;
}

.contact-form-section h4 {
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 32px;
}

.contact-form-section h5 {
  font-size: 24px;
  line-height: 48px;
  margin-bottom: 16px;
}

.contact-form-section .visit-us {
  margin-bottom: 48px;
}

@media screen and (max-width: 992px) {
  .contact-form-section .visit-us {
    margin-top: 24px;
  }
}

.contact-form-section .get-in-touch ul {
  padding: 0 100px 0 0;
}

.contact-form-section .get-in-touch ul li:first-child {
  margin-bottom: 24px;
}

.contact-form-section form {
  padding-right: 50px;
}

@media screen and (max-width: 768px) {
  .contact-form-section form {
    padding-right: 0;
  }
}

.contact-form-section form .form-top {
  display: flex;
  margin-top: 48px;
}

.contact-form-section form .form-top .form-email {
  display: flex;
  flex-direction: column;
}

.contact-form-section form .form-top .form-name {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 992px) {
  .contact-form-section form .form-top .form-name {
    margin-bottom: 20px;
  }
}

.contact-form-section form .form-top input {
  padding: 16px 8px;
  font-size: 18px;
  border: 1px solid #EBEBEB;
}

@media screen and (max-width: 500px) {
  .contact-form-section form .form-top input {
    padding: 8px;
  }
}

.contact-form-section form .form-message {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.contact-form-section form .form-message textarea {
  font-size: 18px;
  resize: none;
  border: 1px solid #EBEBEB;
  padding: 8px;
}

.contact-form-section form .form-message textarea:focus-visible {
  outline: none;
}

.contact-form-section form label {
  margin-bottom: 12px;
}

.expand-navigation-section {
  padding: 35px 0 40px 0;
}

.billing-details-section h4 {
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 24px;
}

.billing-details-section form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

.billing-details-section form div:last-child {
  margin-bottom: 0;
}

.billing-details-section form div label {
  margin-bottom: 3px;
}

.billing-details-section form div label span {
  color: #d6763c;
}

.billing-details-section form div input {
  padding: 11px 16px 17px 16px;
  border: 1px solid #ebebeb;
}

.your-order-section {
  padding: 54px 0;
}

.your-order-section h4 {
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 24px;
}

.your-order-section table {
  border: 1px solid #ebebeb;
}

.your-order-section table thead th {
  padding: 18px 0 22px 10px;
}

.your-order-section table tbody td {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  padding: 18px 0 22px 10px;
}

.your-order-section table tbody tr:last-child td:last-child {
  font-weight: 700;
}

.place-order-section .place-order-container {
  border: 1px solid #ebebeb;
  padding: 34px 24px 54px 24px;
}

.place-order-section .place-order-container .cash-on-container {
  border: 1px solid #ebebeb;
  background-color: #fbfbfb;
  padding: 25px 16px;
  margin-bottom: 47px;
}

.place-order-section .place-order-container .place-order-button {
  display: flex;
  justify-content: flex-end;
  align-items: unset;
}

.place-order-section .place-order-container .place-order-button button {
  padding: 14px 36px;
  background-color: #d6763c;
  border-radius: 3px;
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #d6763c;
}

.product-detail-section {
  padding: 40px 0;
}

.product-detail-section .product-detail__image {
  width: 100%;
  height: 685px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

@media screen and (max-width: 500px) {
  .product-detail-section .product-detail__image {
    height: 400px;
  }
}

.product-detail-section .product-detail__image span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 42px;
  height: 42px;
  top: 16px;
  left: 16px;
  color: #fff;
  background-color: #d6763c;
  border-radius: 50%;
}

.product-detail-section .product-detail__info {
  padding: 0 18px;
}

@media screen and (max-width: 992px) {
  .product-detail-section .product-detail__info {
    margin-top: 24px;
  }
}

.product-detail-section .product-detail__info h4 {
  font-size: 36px;
}

.product-detail-section .product-detail__info .expand-navigation-container {
  margin-bottom: 16px;
}

.product-detail-section .product-detail__info .product-title {
  margin-bottom: 16px;
}

.product-detail-section .product-detail__info .product-rate {
  margin-bottom: 14px;
}

.product-detail-section .product-detail__info .product-rate ul {
  display: flex;
}

.product-detail-section .product-detail__info .product-rate ul li:last-child {
  margin-left: 5px;
}

.product-detail-section .product-detail__info .product-price {
  margin-bottom: 26px;
}

.product-detail-section .product-detail__info .product-price ul {
  display: flex;
}

.product-detail-section .product-detail__info .product-price ul li:first-child {
  margin-right: 14px;
}

.product-detail-section .product-detail__info .product-price ul li:first-child span {
  color: #818181;
  font-size: 24px;
  text-decoration-line: line-through;
}

.product-detail-section .product-detail__info .product-price ul li:last-child span {
  color: #024e82;
  font-size: 24px;
}

.product-detail-section .product-detail__info .product-description {
  margin-bottom: 36px;
}

.product-detail-section .product-detail__info .product-add-cart {
  margin-bottom: 32px;
}

.product-detail-section .product-detail__info .product-add-cart button {
  color: #fff;
  background-color: #024e82;
  border: 1px solid #024e82;
  text-transform: uppercase;
  padding: 16px 36px;
}

.product-detail-section .product-detail__info .product-size {
  margin-bottom: 36px;
}

.product-detail-section .product-detail__info .product-size select {
  padding: 14px;
  border: 1px solid #ebebeb;
}

.product-detail-section .product-detail__info .product-size select:focus-visible {
  outline: none;
}

.product-detail-section .product-detail__info .product-category {
  margin-bottom: 40px;
}

.product-detail-section .product-detail__info .product-category li:first-child {
  margin-bottom: 12px;
}

.product-detail-section .product-detail__info .product-icons ul {
  display: flex;
}

.product-detail-section .product-detail__info .product-icons ul li {
  margin-right: 5px;
}

.product-detail-section .product-detail__info .product-icons ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #f1f1f1;
  border-radius: 50%;
  color: #818181;
}

.product-description-section ul {
  display: flex;
}

.product-description-section ul .description-button {
  border: 1px solid #ebebeb;
  background-color: #fbfbfb;
  padding: 18px 28px;
}

.product-description-section ul .description-button.active {
  background-color: #fff;
  font-weight: 700;
}

.product-description-section ul .reviews-button {
  background-color: #fbfbfb;
  border: 1px solid #ebebeb;
  padding: 18px 28px;
}

.product-description-section ul .reviews-button.active {
  background-color: #fff;
  font-weight: 700;
}

.product-description-section .product-description__content {
  border: 1px solid #ebebeb;
  padding: 48px;
}

.product-description-section .product-description__content p {
  font-size: 16px;
}
/*# sourceMappingURL=main.css.map */