.buybanner-container {
  @include flex(center, center);
  flex-direction: column;
  width: 100%;
  background-color: $black;

  &.p-150 {
    padding: 120px 150px;
  }

  &.p-50 {
    padding: 120px 50px;
  }

  h3 {
    margin-bottom: 24px;
    font-size: 32px;
    color: $white;
    text-transform: uppercase;

  }

  p {
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 24px;
    color: $white;
    text-align: center;
  }

  a {
    color: $font-black;
    padding: 14px 36px;
    background-color: $white;
    text-transform: uppercase;
  }
}
