.buybanner-container {
  @include flex(center, center);
  flex-direction: column;
  width: 100%;
  background-color: $black;

  @media screen and (max-width: 992px) {
    margin-bottom: 24px;
  }

  

  &.p-150 {
    padding: 120px 150px;

    @media screen and (max-width: 1400px) {
      padding: 120px 100px;
    }

    @media screen and (max-width: 1200px) {
      padding: 120px 50px;
    }
  }

  &.p-50 {
    padding: 120px 50px;
  }

  h3 {
    margin-bottom: 24px;
    font-size: 32px;
    color: $white;
    text-transform: uppercase;

    @media screen and (max-width: 1200px) {
      font-size: 28px;
    }

    @media screen and (max-width: 450px) {
      font-size: 20px;
    }

  }

  p {
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 24px;
    color: $white;
    text-align: center;
  }

  a {
    color: $font-black;
    padding: 14px 36px;
    background-color: $white;
    text-transform: uppercase;
  }
}
