.founder {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 992px) {
        align-items: center;
        margin-bottom: 24px;
    }

    a {
        display: inline-block;
        margin-top: 32px;
        font-size: 21px;
    }
}