.page-banner {
    padding: 230px 0 70px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


    h3 {
        font-size: 48px;
        color: $white;
        text-transform: uppercase;
    }
}