.testimonial {
  @include flex(unset, center);
  padding: 0 200px;
  margin-bottom: 240px;

  @media screen and (max-width: 1200px) {
    padding: 0;
  }

  @media screen and (max-width: 800px) {
    flex-direction: column;
    margin-bottom: 120px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__username {
    font-size: 21px;

    @media screen and (max-width: 992px) {
      font-size: 18px;
    }

    @media screen and (max-width: 800px) {
      display: block;
      text-align: center;
    }
  }

  p {
    font-size: 24px;
    line-height: 36px;
    margin: 24px 0 32px 0;

    @media screen and (max-width: 992px) {
      font-size: 18px;
    }

    @media screen and (max-width: 800px) {
      text-align: center;
    }
  }

  &__picture {
    img {
      @media screen and (max-width: 800px) {
        margin-right: 0 !important;
      }
    }
  }

  &__text {

    svg {
        @media screen and (max-width: 800px) {
            display: none;
          }
    }
  }
}
