.expand-navigation-section {
  padding: 35px 0 40px 0;
}

.cart-products-section {
  padding: 40px 0 50px 0;

  table {
    .remove-button {
      background-color: transparent;
      border: none;
    }

    .product-name {
      color: #555555;
    }

    .product-image {
      @include flex(center, center);

      @media screen and (max-width: 992px) {
        display: none;
      }
    }

    .product-price {
      color: #555555;

      @media screen and (max-width: 460px) {
        display: none;
      }
    }

    .product-quantity-input {
      border: 2px solid #ebebeb;
      text-align: center;
      width: 52px;
      height: 42px;
    }

    thead {
      th {
        padding: 20px 0;

        &:nth-child(2) {
          @media screen and (max-width: 992px) {
            display: none;
          }
        }

        &:last-child {
          @media screen and (max-width: 460px) {
            display: none;
          }
        }
      }
    }

    tbody {
      tr {
        border-top: 1px solid #ebebeb;
        border-bottom: 1px solid #ebebeb;
        padding: 10px 0;

        td {
          padding: 30px 0;
        }
      }
    }
  }
}

.cart-totals-section {
  padding: 40px 0 120px 0;
  h4 {
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 24px;
  }

  ul {
    margin-bottom: 40px;

    li {
      @include flex(space-between, center);
      border-bottom: 1px solid #e5e5e5;
      padding: 18px 0;

      &:last-child {
        border: none;
      }
    }
  }

  a {
    padding: 18px 36px;
    background-color: #d6763c;
    color: $white;
    text-transform: uppercase;
  }
}

.cart-no-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  background-color: #FBFBFB;
  margin: 40px 0;
  border: 1px solid $footer-border;

  p {
    text-transform: uppercase;
  }
}